* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
  font-family: Helvetica, sans-serif;
}

.container {
  text-align: center;
}

/*
  white = #FFFFFF
  light grey = #EFEFEF
  darker grey = #C8C8C8
*/

/* Footer */
.footer {
  width: 100%;
  height: 5em;
  background-color: #C8C8C8;
  color: #FFFFFF;
}
